<template>
  <div>Welcome</div>
</template>

<script>
export default {
  name: 'Landing',
  props: {},
  data() {
    return {}
  },
  computed: {
  },
  mounted() {
  }
}
</script>

<style scoped>
</style>
